<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when open.</string>
	<key>NSCameraUsageDescription</key>
	<string>Allows access camera to take photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows access camera to take photo.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>앱 추적 동의 팝업 창에 노출됩니다.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
